apiVersion: v1
kind: ConfigMap
metadata:
  name: blueprint-talos-oidc
  labels:
    app.kubernetes.io/name: authentik
    app.kubernetes.io/component: blueprints
data:
  talos-oidc.yaml: |
    version: 1
    metadata:
      name: Talos OIDC Setup
      labels:
        blueprints.goauthentik.io/instantiate: "true"
    entries:
      - model: authentik_providers_oauth2.scopemapping
        identifiers:
          name: Kubernetes Groups Mapping
        attrs:
          scope_name: groups
          description: "Map user groups to Kubernetes RBAC"
          expression: |
            return {
              "groups": [group.name for group in user.ak_groups.all()],
            }

      - model: authentik_providers_oauth2.oauth2provider
        id: talos-provider
        identifiers:
          name: Talos Cluster
        attrs:
          client_id: "talos-cluster-id"
          client_secret: !Env [AUTHENTIK_TALOS_SECRET, "fallback-secret"]
          client_type: confidential
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          redirect_uris:
            - url: http://localhost:8000
              matching_mode: strict
            - url: http://localhost:18000
              matching_mode: strict
            - url: https://headlamp.dev.home/oidc-callback
              matching_mode: strict
            - url: http://headlamp.dev.home/oidc-callback
              matching_mode: strict
          property_mappings:
            - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-email]]
            - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-openid]]
            - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-profile]]
            - !Find [authentik_providers_oauth2.scopemapping, [name, "Kubernetes Groups Mapping"]]
          signing_key: !Find [authentik_crypto.certificatekeypair, [name, "authentik Self-signed Certificate"]]

      - model: authentik_core.application
        identifiers:
          slug: talos-cluster
        attrs:
          name: Talos Kubernetes
          icon: https://raw.githubusercontent.com/devicons/devicon/master/icons/talos/talos-original.svg
          provider: !Find [authentik_providers_oauth2.oauth2provider, [name, "Talos Cluster"]]
