apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "authentik-blueprints.fullname" . }}-users
  labels:
    {{- include "authentik-blueprints.componentLabels" (dict "context" . "component" "users") | nindent 4 }}
data:
  users.yaml: |
    version: 1
    metadata:
      name: Users
      labels:
        blueprints.goauthentik.io/instantiate: "true"
    entries:
      {{- range .Values.users }}
      - model: authentik_core.user
        state: present
        identifiers:
          username: {{ .username }}
        attrs:
          email: {{ .email }}
          name: {{ .name }}
          is_active: true
          is_superuser: {{ .superuser | default false }}
          groups:
            {{- range .groups }}
            - !Find [authentik_core.group, [name, {{ . }}]]
            {{- end }}
      {{- end }}
