{{- if .Values.oidc.headlamp.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "authentik-blueprints.fullname" . }}-headlamp-oidc
  labels:
    {{- include "authentik-blueprints.componentLabels" (dict "context" . "component" "headlamp-oidc") | nindent 4 }}
data:
  headlamp-oidc.yaml: |
    version: 1
    metadata:
      name: Headlamp OIDC Setup
      labels:
        blueprints.goauthentik.io/instantiate: "true"
    entries:
      - model: authentik_core.application
        identifiers:
          slug: headlamp
        attrs:
          name: Headlamp
          icon: {{ .Values.oidc.headlamp.icon | quote }}
          provider: !Find [authentik_providers_oauth2.oauth2provider, [name, "Talos Cluster"]]
{{- end }}
