apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "authentik-blueprints.fullname" . }}-victoria-metrics
  labels:
    {{- include "authentik-blueprints.componentLabels" (dict "context" . "component" "victoria-metrics") | nindent 4 }}
data:
  victoria-metrics.yaml: |
    version: 1
    metadata:
      name: Victoria Metrics OIDC Setup
      labels:
        blueprints.goauthentik.io/instantiate: "true"
    entries:
      - model: authentik_providers_oauth2.oauth2provider
        id: victoria-metrics-provider
        identifiers:
          name: Victoria Metrics
        attrs:
          client_id: {{ .Values.oidc.victoriaMetrics.clientId | quote }}
          client_secret: !Env [AUTHENTIK_VICTORIA_METRICS_SECRET, "fallback-secret"]
          client_type: confidential
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          redirect_uris:
            - url: https://vmui.dev.home/*
              matching_mode: regex
          property_mappings:
            - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-email]]
            - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-openid]]
            - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-profile]]
          signing_key: !Find [authentik_crypto.certificatekeypair, [name, "authentik Self-signed Certificate"]]

      - model: authentik_core.application
        id: victoria-metrics-app
        identifiers:
          slug: victoria-metrics
        attrs:
          name: Victoria Metrics
          icon: {{ .Values.oidc.victoriaMetrics.icon | quote }}
          provider: !Find [authentik_providers_oauth2.oauth2provider, [name, "Victoria Metrics"]]

      - model: authentik_policies.policybinding
        identifiers:
          order: 0
          target: !Find [authentik_core.application, [slug, victoria-metrics]]
          group: !Find [authentik_core.group, [name, monitoring-admins]]
        attrs:
          enabled: true
          negate: false
          timeout: 30
