apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "authentik-blueprints.fullname" . }}-groups
  labels:
    {{- include "authentik-blueprints.componentLabels" (dict "context" . "component" "groups") | nindent 4 }}
data:
  groups.yaml: |
    version: 1
    metadata:
      name: Groups
      labels:
        blueprints.goauthentik.io/instantiate: "true"
    entries:
      {{- range .Values.groups }}
      - model: authentik_core.group
        identifiers:
          name: {{ .name }}
        attrs:
          is_superuser: {{ .superuser | default false }}
      {{- end }}
