---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-internal
  namespace: traefik-system
spec:
  chart:
    spec:
      chart: traefik
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  interval: 1m0s
  values:
    deployment:
      kind: DaemonSet
    ports:
      web:
        forwardedHeaders:
          trustedIPs:
            - 10.1.255.2
            - 185.170.224.141
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
    logs:
      general:
        level: ERROR
      access:
        enabled: false
      fields:
        headers:
          defaultmode: keep
    podSecurityContext:
      seccompProfile:
        type: RuntimeDefault
    ingressClass:
      name: traefik-internal
      isDefaultClass: true
    providers:
      kubernetesIngress:
        ingressClass: traefik-internal
    service:
      spec:
        loadBalancerIP: 10.1.200.1
    tlsStore:
      default:
        defaultCertificate:
          secretName: dev-home-default-certificate
